In [147]:
# DSC 540
# Week 7 & 8
# Summer 2024
# Term Project Milestone 4
# Created By Matthew Heinen
# 7/20/24

# Weather and Carlos Santanaâ€™s Effectiveness
## DSC 540: Milestone 4

## Read in Ballpark data. 

Here we will read in the ballpark data from the CSV file that was saved in a previous step. In order to make the API call and record our weather data we will need the latitude and longitude from the ballpark dataset.

In [2]:
# Import packages 
import pandas as pd

In [4]:
# Use read_csv to read file into dataframe. 
ballpark = pd.read_csv('ballpark_data_web.csv')

In [6]:
# Preview ballpark dataframe. 
ballpark.head(10)

,Ballpark,City,Surface,Team,Roof type,Lat,Long,Alt
0,American Family Field,"Milwaukee, Wisconsin",Grass,Milwaukee Brewers,Retractable,43.03,-87.97,602
1,Angel Stadium,"Anaheim, California",Grass,Los Angeles Angels,Open,33.80,-117.88,154
2,Busch Stadium,"St. Louis, Missouri",Grass,St. Louis Cardinals,Open,38.62,-90.19,438
3,Chase Field,"Phoenix, Arizona",Artificial turf,Arizona Diamondbacks,Retractable,33.45,-112.07,1059
4,Citi Field,"Queens, New York",Grass,New York Mets,Open,40.76,-73.85,13
5,Citizens Bank Park,"Philadelphia, Pennsylvania",Grass,Philadelphia Phillies,Open,39.91,-75.17,19
6,Comerica Park,"Detroit, Michigan",Grass,Detroit Tigers,Open,42.34,-83.05,602
7,Coors Field,"Denver, Colorado",Grass,Colorado Rockies,Open,39.76,-104.99,5197
8,Dodger Stadium,"Los Angeles, California",Grass,Los Angeles Dodgers[nb 2],Open,34.07,-118.24,501
9,Fenway Park,"Boston, Massachusetts",Grass,Boston Red Sox[nb 3],Open,42.35,-71.10,16

## Read in Carlos Santana Balls in Play Data 

Here we will need to read in the carlos data from the CSV file saved in Milestone 2. In order to make the API call we will need the date and time information to pull weather data for the specific time.

In [9]:
# Use read_csv to read file into dataframe. 
carlos = pd.read_csv('carlos_balls_in_play.csv')

In [11]:
# Preview carlos dataframe. 
carlos.head(10)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,pitcher_id,ab_result,pitch_zone_location,description,...,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,unix_time
0,SI,2018-06-19,101.2,-1.43,6.18,"Hicks, Jordan",663855,field_out,1,"Carlos Santana grounds out, shortstop Yairo Mu...",...,7,6,6,7,Standard,Standard,245.0,-0.086,-0.232,1529452800
1,FF,2015-05-24,100.9,0.84,6.34,"Chapman, Aroldis",547973,single,7,Carlos Santana singles on a ground ball to cen...,...,1,5,5,1,Standard,Standard,NaN,0.012,0.578,1432512000
2,SI,2019-05-26,100.5,0.86,6.66,"Alvarado, JosÃ©",621237,force_out,9,"Carlos Santana grounds into a force out, field...",...,6,3,3,6,Standard,Standard,143.0,-0.040,-0.459,1558915200
3,FF,2023-06-03,100.2,-1.47,6.24,"Hicks, Jordan",663855,single,2,Carlos Santana singles on a fly ball to left f...,...,1,4,4,1,Strategic,Standard,210.0,0.064,0.748,1685836800
4,FF,2019-09-14,100.1,-1.55,6.44,"Graterol, Brusdar",660813,field_out,12,"Carlos Santana grounds out, shortstop Jorge Po...",...,4,5,5,4,Infield shift,Standard,205.0,-0.018,-0.286,1568505600
5,FC,2022-04-11,100.1,-0.46,6.06,"Clase, Emmanuel",661403,field_out,5,"Guardians challenged (force play), call on the...",...,10,7,7,10,Infield shift,Standard,194.0,-0.012,-0.112,1649721600
6,FF,2018-06-25,100.0,0.51,6.14,"Chapman, Aroldis",547973,field_out,7,Carlos Santana flies out to left fielder Gianc...,...,4,1,1,4,Standard,Standard,156.0,-0.047,-0.447,1529971200
7,FF,2017-08-21,99.7,-2.03,5.91,"Kelly, Joe",523260,field_out,3,Carlos Santana flies out to center fielder Jac...,...,4,3,3,4,Standard,Standard,203.0,-0.061,-0.225,1503360000
8,FF,2019-07-18,99.7,-1.36,6.15,"Rosenthal, Trevor",572096,field_out,6,Carlos Santana flies out to right fielder Nich...,...,3,5,5,3,Infield shift,Standard,205.0,0.000,-0.219,1563494400
9,FF,2024-05-07,99.5,-0.49,6.65,"Stanek, Ryne",592773,field_out,2,Carlos Santana flies out to center fielder Jul...,...,6,6,6,6,Infield shade,Standard,199.0,-0.050,-0.266,1715126400

## Add ballpark latitude longitude to carlos DataFrame
Here we will add the latitude and longitude columns to the carlos DataFrame. This way we can pull our weather data.

In [14]:
# import packages 
import pandas as pd

In [16]:
# Read in team abreviation key using read_csv
ab_key = pd.read_csv('team name and abreviations.csv')

# preview key 
ab_key.head(10)

              team_name abreviation
0  Arizona Diamondbacks         ari
1        Atlanta Braves         atl
2     Baltimore Orioles         bal
3        Boston Red Sox         bos
4     Chicago White Sox         cws
5          Chicago Cubs         chc
6      Cinncinnati Reds         cin
7     Cleveland Indians         cle
8      Colorado Rockies         col
9        Detroit Tigers         det

# Transformation 1: Clean ab_key DF 
Clean the ab_key DataFrame in order to have the same format as the merge on the carlos DataFrame.

In [18]:
# Transform the ab_key DataFrame to make the abreviations all upper case. 

ab_key['abreviation'] = ab_key['abreviation'].str.upper()

# Preview transformation. 

ab_key.head(10)

              team_name abreviation
0  Arizona Diamondbacks         ARI
1        Atlanta Braves         ATL
2     Baltimore Orioles         BAL
3        Boston Red Sox         BOS
4     Chicago White Sox         CWS
5          Chicago Cubs         CHC
6      Cinncinnati Reds         CIN
7     Cleveland Indians         CLE
8      Colorado Rockies         COL
9        Detroit Tigers         DET

In [20]:
# Use merge to perform left join to add the team_name to the carlos file.

carlos = pd.merge(carlos, ab_key, left_on='home_team', right_on='abreviation', how='left')

In [22]:
print(carlos.columns)

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'pitcher_name', 'pitcher_id', 'ab_result',
       'pitch_zone_location', 'description', 'game_type', 'batter_stance',
       'p_throws', 'home_team', 'away_team', 'hit_location', 'bb_type',
       'balls', 'strikes', 'pitch_hor_break', 'pitch_ver_break', 'plate_x',
       'plate_z', 'on_3b', 'on_2b', 'on_1b', 'outs_when_up', 'inning',
       'inning_topbot', 'hit_distance_sc', 'launch_speed', 'launch_angle',
       'effective_speed', 'release_spin_rate', 'release_extension', 'game_id',
       'release_pos_y', 'estimated_ba_using_speedangle',
       'estimated_woba_using_speedangle', 'babip_value', 'iso_value',
       'contact_type', 'at_bat_number', 'pitch_number', 'pitch_name',
       'home_score', 'away_score', 'bat_score', 'fld_score', 'post_away_score',
       'post_home_score', 'post_bat_score', 'post_fld_score',
       'if_fielding_alignment', 'of_fielding_alignment', 'spin_axis',
       'delta_home_win_exp', 'delta_run_exp', 'unix_time', 'team_name',
       'abreviation'],
      dtype='object')

In [24]:
# Use Merge on home_team in order to find the ballpark latitude and longitude. 

carlos_lo = pd.merge(carlos, ballpark, left_on='team_name', right_on='Team', how='left')

In [26]:
# Preview new dataframe with location data. 

carlos_lo.head(10)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,pitcher_name,pitcher_id,ab_result,pitch_zone_location,description,...,team_name,abreviation,Ballpark,City,Surface,Team,Roof type,Lat,Long,Alt
0,SI,2018-06-19,101.2,-1.43,6.18,"Hicks, Jordan",663855,field_out,1,"Carlos Santana grounds out, shortstop Yairo Mu...",...,Philadelphia Phillies,PHI,Citizens Bank Park,"Philadelphia, Pennsylvania",Grass,Philadelphia Phillies,Open,39.91,-75.17,19
1,FF,2015-05-24,100.9,0.84,6.34,"Chapman, Aroldis",547973,single,7,Carlos Santana singles on a ground ball to cen...,...,Cleveland Indians,CLE,Progressive Field,"Cleveland, Ohio",Grass,Cleveland Indians,Open,41.50,-81.69,673
2,SI,2019-05-26,100.5,0.86,6.66,"Alvarado, JosÃ©",621237,force_out,9,"Carlos Santana grounds into a force out, field...",...,Cleveland Indians,CLE,Progressive Field,"Cleveland, Ohio",Grass,Cleveland Indians,Open,41.50,-81.69,673
3,FF,2023-06-03,100.2,-1.47,6.24,"Hicks, Jordan",663855,single,2,Carlos Santana singles on a fly ball to left f...,...,Pittsburgh Pirates,PIT,PNC Park,"Pittsburgh, Pennsylvania",Grass,Pittsburgh Pirates,Open,40.45,-80.01,724
4,FF,2019-09-14,100.1,-1.55,6.44,"Graterol, Brusdar",660813,field_out,12,"Carlos Santana grounds out, shortstop Jorge Po...",...,Cleveland Indians,CLE,Progressive Field,"Cleveland, Ohio",Grass,Cleveland Indians,Open,41.50,-81.69,673
5,FC,2022-04-11,100.1,-0.46,6.06,"Clase, Emmanuel",661403,field_out,5,"Guardians challenged (force play), call on the...",...,Kansas City Royals,KC,Kauffman Stadium,"Kansas City, Missouri",Grass,Kansas City Royals,Open,39.05,-94.48,886
6,FF,2018-06-25,100.0,0.51,6.14,"Chapman, Aroldis",547973,field_out,7,Carlos Santana flies out to left fielder Gianc...,...,Philadelphia Phillies,PHI,Citizens Bank Park,"Philadelphia, Pennsylvania",Grass,Philadelphia Phillies,Open,39.91,-75.17,19
7,FF,2017-08-21,99.7,-2.03,5.91,"Kelly, Joe",523260,field_out,3,Carlos Santana flies out to center fielder Jac...,...,Cleveland Indians,CLE,Progressive Field,"Cleveland, Ohio",Grass,Cleveland Indians,Open,41.50,-81.69,673
8,FF,2019-07-18,99.7,-1.36,6.15,"Rosenthal, Trevor",572096,field_out,6,Carlos Santana flies out to right fielder Nich...,...,Cleveland Indians,CLE,Progressive Field,"Cleveland, Ohio",Grass,Cleveland Indians,Open,41.50,-81.69,673
9,FF,2024-05-07,99.5,-0.49,6.65,"Stanek, Ryne",592773,field_out,2,Carlos Santana flies out to center fielder Jul...,...,Minnesota Twins,MIN,Target Field,"Minneapolis, Minnesota",Grass,Minnesota Twins,Open,44.98,-93.28,840

In [28]:
# Confirm the size of the df to ensure all data is accounted for. 
carlos.shape

(1936, 61)

# Read in Data From Open Weather 3.0 API

Here we will read in data from the Open Weather API. This will allow us to create a dataset that has the stored weather data from each ball put in play in Carlos Santana's career.

In [104]:
import pandas as pd
import requests


# Define a function to make the API call and return the JSON data
def call_api(row):
    url = 'https://api.openweathermap.org/data/3.0/onecall/timemachine?'
    params = {
        'lat': row['Lat'],
        'lon': row['Long'],
        'dt': row['unix_time'],
        'appid': '6b1915f8a711e908db855ea4824218f5'
        
    }
    response = requests.get(url, params=params)
    return response.json()

In [106]:
# Create an empty list to store the returned JSON data
json_data_list = []

In [108]:
# Loop through the DataFrame, call the API for each row, and store the returned JSON data
for index, row in carlos_lo.head(50).iterrows():
    json_data = call_api(row)
    json_data = call_api(row)
    json_data_list.append(json_data)


# Now result_df contains the JSON data returned from the API calls

In [109]:
# Create a new DataFrame from the list of JSON data
carlos_weather = pd.DataFrame(json_data_list)

# Preview 
carlos_weather.head(10)

   cod                                            message
0  429  Your account is temporary blocked due to excee...
1  429  Your account is temporary blocked due to excee...
2  429  Your account is temporary blocked due to excee...
3  429  Your account is temporary blocked due to excee...
4  429  Your account is temporary blocked due to excee...
5  429  Your account is temporary blocked due to excee...
6  429  Your account is temporary blocked due to excee...
7  429  Your account is temporary blocked due to excee...
8  429  Your account is temporary blocked due to excee...
9  429  Your account is temporary blocked due to excee...

# Transformation 2: Separate all of the information in the data column to a readable format in its own column. 

This transformation will allow us to put each piece of data in its own column and make a readable dataset.

In [63]:
# Use the apply method to create a new column with the first item from the list that is stored in the data column. 
carlos_weather['data2'] = carlos_weather['data'].apply(lambda x: x[0])

In [65]:
# Verify that this transformation worked. 
carlos_weather.head(5)

,lat,lon,timezone,timezone_offset,data,dt,data2
0,39.91,-75.17,America/New_York,-14400,"[{'dt': 1529452800, 'sunrise': 1529400718, 'su...","{'dt': 1529452800, 'sunrise': 1529400718, 'sun...","{'dt': 1529452800, 'sunrise': 1529400718, 'sun..."
1,41.50,-81.69,America/New_York,-14400,"[{'dt': 1432512000, 'sunrise': 1432461618, 'su...","{'dt': 1432512000, 'sunrise': 1432461618, 'sun...","{'dt': 1432512000, 'sunrise': 1432461618, 'sun..."
2,41.50,-81.69,America/New_York,-14400,"[{'dt': 1558915200, 'sunrise': 1558864737, 'su...","{'dt': 1558915200, 'sunrise': 1558864737, 'sun...","{'dt': 1558915200, 'sunrise': 1558864737, 'sun..."
3,40.45,-80.01,America/New_York,-14400,"[{'dt': 1685836800, 'sunrise': 1685785884, 'su...","{'dt': 1685836800, 'sunrise': 1685785884, 'sun...","{'dt': 1685836800, 'sunrise': 1685785884, 'sun..."
4,41.50,-81.69,America/New_York,-14400,"[{'dt': 1568505600, 'sunrise': 1568459154, 'su...","{'dt': 1568505600, 'sunrise': 1568459154, 'sun...","{'dt': 1568505600, 'sunrise': 1568459154, 'sun..."

In [67]:
# Looks like we have a list inside a list.
# Perform the same transformation using the apply method. 
# Use the apply method to create a new column with the first item from the list that is stored in the data column. 
carlos_weather['dt'] = carlos_weather['data2'].apply(lambda x: x[0])

KeyError: 0

In [51]:
# Convert the JSON data in the 'data' column to a Python dictionary
carlos_weather['data'] = carlos_weather['data'].apply(json.loads)

TypeError: the JSON object must be str, bytes or bytearray, not list

In [ ]:
# Use json_normalize to separate the JSON data into its own columns
normalized_df = pd.json_normalize(carlos_weather['data'])

In [ ]:
# Concatenate the original DataFrame with the normalized DataFrame
result_df = pd.concat([carlos_weather, normalized_df], axis=1)